<!-- TOP HEADER -->
    <div id="top-header" class="top-header">
        <div class="container">
            <div class="pull-left">
                <ul class="header-links">
                    <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>email@email.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                </ul>
            </div>
            <form id="frmLogout" method="post" action="/user/logout"></form>
            <form id="frmAdminLogout" method="post" action="/admin/logout"></form>
            <div class="pull-right">
                <ul class="header-links">
                    <li>
                        {{#if isAuthenticated}}
                        <div class="dropdown show">
                            <a class="dropdown-toggle" href="login/login.html" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                {{authUser.name}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                                style="background-color: #1E1F29;">
                                <a class="dropdown-item" href="/user/profile/{{authUser.id}}">Profile</a>
                                {{#if authUser.Permission}}
                                    <a class="dropdown-item" href="/user/sellproduct">Auction</a>
                                {{/if}}
                                <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">Log out</a>
                            </div>
                        </div>
                        {{else}}
                        {{#if isAdmin}}
                            <div class="dropdown show">
                            <a class="dropdown-toggle" href="" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                {{authAdmin.username}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                                style="background-color: #1E1F29;">
                                <a class="dropdown-item" href="javascript: $('#frmAdminLogout').submit();">Log out</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="dropdown show">
                            <a class="dropdown-toggle" href="" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                My account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                                style="background-color: #1E1F29;">
                                <a class="dropdown-item" href="/user/login">Login</a>
                                <a class="dropdown-item" href="/user/register">Register</a>
                            </div>
                        </div>
                        {{/if}}
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /TOP HEADER -->
    <!-- MAIN HEADER -->
    <div id="myHeader" class="main-header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="/assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form method="POST" action="/search">
                            <select class="input-select" name="id_cat">
                                <option value="-1">All Categories</option>
                                <option value="3">Điện thoại</option>
                                <option value="4">Laptop</option>
                                <option value="16">Xe máy</option>
                                <option value="17">Xe ô tô</option>
                            </select>
                            <input class="input" placeholder="Search here" name="key" id="key">
                            <button class="search-btn" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->