
<div class="card shadow mr-3">
	{{#if isAdmin}}
	<h4 class="card-header">
		Chức năng
	</h4>
	<div class="list-group list-group-flush">
		{{#each listfunc}}
		<button class="list-group-item list-group-item-action text-left font-weight-bold" style="color: blue;" 
		onclick="window.location.href='{{router}}'">
			{{name_func}}
		</button>
		{{/each}}
	</div>
	
	{{else}}
		{{#each listCat}}
		<button class="list-group-item list-group-item-action text-left font-weight-bold" style="color: blue;" href="{{router}}" data-toggle="collapse"
			aria-expanded="false" data-target="#submenu-{{id}}" aria-controls="submenu-{{id}}">
			{{name}}
			<span class="float-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
		</button>
			{{#each ../detailCat}}
			{{#ifCond id_parent ../id}}
			<div id="submenu-{{../id}}" class="collapse submenu">
				<div class="list-group list-group-flush">
					
					<a  href="{{router}}" class="list-group-item list-group-item-action text-left">
						<i class="fa fa-laptop"	aria-hidden="true"></i> 
						{{name}}
					</a>
				</div>

			</div>
			{{/ifCond}}
			{{/each}}
		{{/each}}
	{{/if}}
</div>