  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">
      Không có dữ liệu.
    </p>
  </div>
  {{else}}
  {{#each this.products}}
  <div class="col-sm-3">
    <div class="card product" style="height: 400px">
      <div class="product-img">
        <img class="card-header bg-transparent" src="/images/product/{{id_pro}}_1.jpg"
        onclick="window.location.href = '/product/{{id_pro}}';" style="height: 170px">
        {{#if isnew}}
        <div class="product-label">
          <span class="new">NEW</span>
        </div>
        {{/if}}
      </div>
      
      <div class="card-body tdspkhac"
      onclick="window.location.href = '/product/{{id_pro}}';">
      <a href="/product/{{id_pro}}">{{name_pro}}</a>
    </div>
    <div class="card-footer bg-transparent border-0 add-to-cart">
      <h6 class="product-price">{{format current_price}}</h6>
      <button class="add-to-cart-btn"><i class="fa fa-eye"></i> View more</button>
    </div>
  </div>
</div>

{{/each}}

{{/if}}


