{{#section 'css'}}
<link rel="stylesheet" href="/assets/css/user.css">
{{/section}}
<form method="POST">
<div class="col-12 card shadow mb-4 mt-3">
    <div class="tab-content">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{#ifCond user.avatar null}}https://img.thuthuatphanmem.vn/uploads/2018/10/16/hinh-anh-luffy-cute_101533762.jpg {{else}} {{user.avatar}} {{/ifCond}}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h2>
                        {{user.name}}
                    </h2>
                    <p class="proile-rating">RATING: <span>{{user.rating}}/5</span></p>
                    {{#ifCond user.Permission 1}}
                    <button class="btn btn-primary" type="submit" formaction="/admin/users/downgrade">
                        <i class="fa fa-angle-double-down" aria-hidden="true"> Hạ cấp bậc</i>
                    </button>
                    {{/ifCond}}
                    {{#ifCond user.Permission 2}}
                    <button class="btn btn-primary" type="submit" formaction="/admin/users/upgrade">
                        <i class="fa fa-angle-double-up" aria-hidden="true"> Tăng cấp bậc</i>
                    </button>
                    {{/ifCond}}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#About" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active ml-5" id="About" role="tablist">
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <label>ID</label>
                            </div>
                            <div class="col-sm-6">
                                <p>{{user.id}}</p>
                                <input type="hidden" class="form-control" id="id" name="id" readonly value="{{user.id}}">
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <label>User Name</label>
                            </div>
                            <div class="col-sm-6">
                                <p>{{user.username}}</p>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <label>Name</label>
                            </div>
                            <div class="col-sm-6">
                                <p>{{user.name}}</p>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <label>DOB</label>
                            </div>
                            <div class="col-sm-6">
                                <p>{{dateformat user.DateOfBirth}}</p>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <label>Email</label>
                            </div>
                            <div class="col-sm-6">
                                <p>{{user.email}}</p>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-sm-6">
                                <p>{{user.Phone}}</p>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <label>Permission</label>
                            </div>
                            <div class="col-sm-6">
                                <p>{{#ifCond Permission 1}}Seller{{else}}Bidder{{/ifCond}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>